.bio-container {
    background-color: black;
    transform: rotateX(360deg);
}

.bio-content {
    color: #FFD006;
    font-size: 50px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}